{#=====Get variable : Config Select Block on header=====#}
{% set hidden_headercenter = soconfig.get_settings('toppanel_type') =='2'? 'hidden-compact' : '' %}
{% set hidden_headerbottom = soconfig.get_settings('toppanel_type') =='1'? 'hidden-compact' : '' %}

<header id="header" class=" variant typeheader-{{ typeheader ? typeheader : '1'}}">
	{#======	HEADER TOP	=======#}  

	
	{#======	HEADER CENTER	=======#} 
	<div class="header-middle {{hidden_headercenter}}">
		<div class="container">	
			<div class="row">		
				<div class="navbar-logo col-lg-2 col-md-12 col-sm-3 col-xs-4">
					<div class="logo">
				   		{{soconfig.get_logo()}}
				   	</div>
				</div>
				<div class="middle2 col-lg-10 col-md-12 col-sm-9 col-xs-8">											
					<div class="main-menu-w">
						{{ content_menu1 }}	
					</div>	
					<div class="middle3">
						<div class="search-header-w">
							<div class="icon-search"><i class="pe-7s-search"></i></div>								
							{{ search_block }}
							<div class="search-screen hidden-xs">&nbsp;</div>
						</div>
						
						{% if logged %} 
							<div class="log logout"><a class="link-lg" href="{{ logout }} "><svg width="20" height="20" class="icon-user"><use xlink:href="#icon-user"></use></svg><span>{{ text_logout }}</span></a></div>
						{% else %}   
							<div class="log login"><a class="link-lg" href="{{ login }} "><svg width="20" height="20" class="icon-user"><use xlink:href="#icon-user"></use></svg><span>{{ text_login }}</span></a></div>								
						{% endif %}	
						
						<div class="shopping_cart">							
						 	{{ cart }}
						</div>					
					</div>			
				</div>
				
			</div>	
		</div>
	</div>

	
		
</header>