{{ header }}
{{ column_left }}

<div id="content">
	<div class="page-header">
	    <div class="container-fluid">
	      	<h1>{{ heading_title }}</h1>
	      	<ul class="breadcrumb">
	        	{% for breadcrumb in breadcrumbs %}
	        		<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
	        	{% endfor %}
	      	</ul>
	    </div>
  	</div>
  	<div class="container-fluid">
  		<div class="row">
  			<div id="filter-product" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
  				<div class="panel panel-default">
  					<div class="panel-heading">
		            	<h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
		          	</div>
		          	<div class="panel-body">
		          		<div class="form-group">
				          	<label class="control-label" for="input-date-start">{{ text_start }}</label>
				          	<div class="input-group date">
					            <input type="text" name="stat_start" value="{{ stat_start }}" placeholder="{{ text_start }}" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control" />
					            <span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button></span>
				          	</div>
				        </div>
		          		<div class="form-group">
				          	<label class="control-label" for="input-date-end">{{ text_end }}</label>
				          	<div class="input-group date">
				            	<input type="text" name="stat_end" value="{{ stat_end }}" placeholder="{{ text_end }}" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control" />
				            	<span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button></span>
				          	</div>
				        </div>
				        <div class="form-group">
				          	<label class="control-label" for="input-group">{{ text_group_by }}</label>
				            <select name="filter_group" id="input-group" class="form-control">
				            	<option value="day" {{ filter_group =='day' ? 'selected="selected"' : '' }}>{{ text_day }}</option>
				              	<option value="week" {{ filter_group =='week' ? 'selected="selected"' : '' }}>{{ text_week }}</option>
				              	<option value="month" {{ filter_group =='month' ? 'selected="selected"' : '' }}>{{ text_month }}</option>
				              	<option value="year" {{ filter_group =='year' ? 'selected="selected"' : '' }}>{{ text_year }}</option>
				            </select>
				        </div>
				        <div class="form-group text-right">
			              	<button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }}</button>
			            </div>
		          	</div>
  				</div>
  			</div>
  			<div class="col-md-9 col-md-pull-3 col-sm-12">
  				<div class="panel panel-default">
          			<div class="panel-heading">
            			<h3 class="panel-title"><i class="fa fa-list"></i> {{ text_statistic }}</h3>
          			</div>
          			<div class="panel-body">
            			<div class="table-responsive">
		                	<table class="table table-bordered table-hover">
		                  		<thead>
		                    		<tr>
		                    			<td class="text-left">{{ text_date }}</td>
									    <td class="text-center" style="width:20%">{{ text_view }}</td>
									    <td class="text-center" style="width:20%">{{ text_add_cart }}</td>
									    <td class="text-center" style="width:20%">{{ text_order }}</td>
		                    		</tr>
		                    	</thead>
		                    	<tbody>
		                    		{% if items %}
								    	{% for key, value in items %}
								      		<tr>
								        		<td class="text-left">{{ key }}</td>
								        		<td class="text-center">{{ value.view }}</td>
								        		<td class="text-center">{{ value.addcart }}</td>
								        		<td class="text-center">{{ value.order }}</td>
								      		</tr>
								    	{% endfor %}
								  	{% else %}
								    	<tr>
								      		<td colspan="4" class="text-center">{{ text_no_result }}</td>
								    	</tr>
								  	{% endif %}
		                    	</tbody>
		                    </table>
		                </div>
            		</div>
            	</div>
  			</div>
  		</div>
  	</div>
</div>

<script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	var url = '';

	var stat_start = $('input[name=\'stat_start\']').val();

	if (stat_start) {
		url += '&stat_start=' + encodeURIComponent(stat_start);
	}

	var stat_end = $('input[name=\'stat_end\']').val();

	if (stat_end) {
		url += '&stat_end=' + encodeURIComponent(stat_end);
	}

	var filter_group = $('select[name=\'filter_group\']').val();

	if (filter_group !== '') {
		url += '&filter_group=' + encodeURIComponent(filter_group);
	}

	location = 'index.php?route={{ modulePath }}/statistic&user_token={{ user_token }}' + url;
});

$('.date').datetimepicker({
	pickTime: false
});
//--></script> 

{{ footer }}